@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js");
// @import url("buttons.scss");


body {
  font-family: "Source Sans Pro", sans-serif !important;
}

$primary: #4A8BA6;
$secondary:  purple;
$danger: #ff4136;
$dark: #303840;
$info: #2d74aa;
$warning: rgb(203, 135, 7);



@import "colors.scss"; 
@import "forms.scss";    
@import "survey.scss";   
@import "tables.scss";    
@import "fonts.scss";    
@import "cards.scss";   
@import "buttons.scss";
@import "sidebar.scss";
@import "tabs.scss";
@import "modals.scss";

.custom-logo {
 width: 180px;
 height:auto;
 position: relative;
 margin-top:-2px;
}

.vr {
  position: relative;
  top:2px;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-primary-dark {
  background: var(--primary-bg-gradient-dark);
}

.bg-blue {
  background: var(--bg-blue);
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background: var(--primary-bg-gradient-light);
}



@import "../../node_modules/bootstrap/scss/bootstrap";


.banner {
  background: $dark;
  min-height: 400px;
  width: 100%;
}

// header styles
.brandtext img {
  height: 40px;
  width: auto
}

// Dashboard styles
.dashboard, .securecall {
  .card {
    min-height: 350px;
    .icontypica {
      position: relative;
      font-size: 30px;
      padding: 16px;
      height: 76px;
      width: 76px;
      text-align: center;
      margin: 0;
    }
    .cardfooter {
      position: absolute;
      bottom:0;
      margin: 15px 15px 15px 0;
    }
    hr {
      color: #b5b5b6;
    }
  }
  .card.card-welcome {
    overflow: visible;
    .card-body {
      padding: 0;
    }
    .customcardimage {
      overflow: hidden;
      border-radius: 8px;
      background-image: url(https://images.photowall.com/products/59504/mountain-view-1.jpg?h=699&q=85);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      opacity: 0.5;
    }
    .welcometext {
      display: inline-block;
      padding: 30px;
      position: absolute;
      font-size: 35px;
      line-height: 35px;
      color: white;
      margin: 10px;
      .usericon {
        font-size: 40px;
        background: #750dcf;
        padding: 18px;
        border-radius: 50px;
        height: 85px;
        width: 85px;
        text-align: center;
      }
    }
  }
}



// Messages 
.messagewrapper {
  max-height: 500px;
  overflow-y: scroll;
}

/*------scroll bar---------------------*/
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #525965;
}

::-webkit-scrollbar-thumb:active {
  background: #525965;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

// Bootstrap icons general styles 
button svg.bi {
  margin-top:-4px;
  margin-right: 2px;
}
th, td {
  vertical-align: middle;
  .form-check {
    top: 4px;
    position: relative;
    input {
      margin-right: 8px;
    }
    label {
      top: 1px;
      position: relative;
    }
  }
}


.billingtable {
  max-width:700px;
    thead th, tbody th {
        &:first-child {
            width:60%;
        }
    }
}


// Small style tabs
.small-tabs .nav-link {
    padding: 5px !important;
}

// Custom fontAwesome
.customfontawesome svg {
  width: 16px;
  height: 16px;
}
 td .btn-group .btn {
  padding: 2px 5px !important;
 }
